/*======================
   01. fonts
========================*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family: 'Sailec';
    src: url('../webfonts/Sailec-Light.eot');
    src: url('../webfonts/Sailec-Light.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Sailec-Light.woff2') format('woff2'),
        url('../webfonts/Sailec-Light.woff') format('woff'),
        url('../webfonts/Sailec-Light.ttf') format('truetype'),
        url('../webfonts/Sailec-Light.svg#Sailec-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../webfonts/Sailec-Medium.eot');
    src: url('../webfonts/Sailec-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Sailec-Medium.woff2') format('woff2'),
        url('../webfonts/Sailec-Medium.woff') format('woff'),
        url('../webfonts/Sailec-Medium.ttf') format('truetype'),
        url('../webfonts/Sailec-Medium.svg#Sailec-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../webfonts/Sailec-Regular.eot');
    src: url('../webfonts/Sailec-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Sailec-Regular.woff2') format('woff2'),
        url('../webfonts/Sailec-Regular.woff') format('woff'),
        url('../webfonts/Sailec-Regular.ttf') format('truetype'),
        url('../webfonts/Sailec-Regular.svg#Sailec-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sailec';
    src: url('../webfonts/Sailec-Thin.eot');
    src: url('../webfonts/Sailec-Thin.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Sailec-Thin.woff2') format('woff2'),
        url('../webfonts/Sailec-Thin.woff') format('woff'),
        url('../webfonts/Sailec-Thin.ttf') format('truetype'),
        url('../webfonts/Sailec-Thin.svg#Sailec-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../webfonts/Sailec-Bold.eot');
    src: url('../webfonts/Sailec-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Sailec-Bold.woff2') format('woff2'),
        url('../webfonts/Sailec-Bold.woff') format('woff'),
        url('../webfonts/Sailec-Bold.ttf') format('truetype'),
        url('../webfonts/Sailec-Bold.svg#Sailec-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.31;
    color: #fff;
    background-color: #0E0C11;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Sailec';
}
ol,
ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
button:focus,
a:focus,
input:focus,
select:focus,
input:focus,
textarea:focus{
    outline: none;
}
.button{
	padding: 10px 35px;
	background-color: rgba(249, 227, 204, 1);
	border: 1px solid #F9E3CC;
	border-radius: 5px;
	display: inline-block;
	color: #000;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: -0.025em;
	transition: 0.3s;
}
.button:hover{
	border-color:#F9E3CC;
	background:none;
	color: #fff;
	transition: 0.3s; 
}
/*======================
  preloader style
========================*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
/*======================
  header style
========================*/

header{
	position: fixed;
	width: 100%;
	padding: 20px 0;
	z-index: 9999;
	top: -100%;
	left: 0;
  transition: 1.3s;
}
header.nav-active{
  position: absolute;
  top: 0;
}
header .menu li{
	display: inline-block;
}
header .menu li a{
	font-size: 18px;
	font-weight: 400;
	color: #B3C1D4;
	margin-right: 20px;
	padding-bottom: 7px;
	transition: 0.3s;
}
header .menu li:last-child a{
  margin-right: 0;
}
header .menu li a:hover{
	color:#00C9FF;
	transition: 0.3s;
}
/*======================
  Hamburger-menu style
========================*/
.hamburger-menu {
  cursor: pointer;
  display: none;
  z-index: 999;
  margin-left: auto;
  width: 3rem;
}
.hamburger-menu span {
  background: #fff;
  width: 30px;
  height: 2px;
  display: block;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger-menu .line-top.current {
  -webkit-transform: translateY(4px) rotate(135deg);
  -ms-transform: translateY(4px) rotate(135deg);
  transform: translateY(4px) rotate(135deg);
}
.hamburger-menu .line-center.current {
  opacity: 0;
}
.hamburger-menu .line-bottom.current {
  -webkit-transform: translateY(-12.5px) rotate(-135deg);
  -ms-transform: translateY(-12.5px) rotate(-135deg);
  transform: translateY(-12.5px) rotate(-135deg);
}
/*======================
  hero area style
========================*/
.hero_video_area{
	padding-top: 240px;
}
.hero_video_area h2,
.hero_about_area h2,
.hero_case_area h2{
	font-size: 64px;
	font-weight: normal;
  margin-bottom: 75px;
  color: #fff;
}
.hero_video_area h2{
  margin-bottom: 140px;
}
.video_box iframe{
	width: 100%;
	height: 686px;
  border:0;
}
/*======================
  sponsar area style
========================*/
.sponsar_area{
	padding: 125px 0 130px;
}
.sponsar_area .sponsars-1,
.sponsar_area .sponsars-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsar_area .sponsars-1 li,
.sponsar_area .sponsars-2 li{
  min-width: 252px;
  text-align: center;
}
.sponsar_area .sponsars-1 li{
	padding: 46px 0;
}
.sponsar_area .sponsars-2 li{
	padding: 46px 0;
}
/*======================
  works area style
========================*/
.portfoilo_area{
  padding-bottom: 100px;
}
.portfoilo_area .box h3{
  font-size: 24px;
  font-weight: 700;
  margin-top: 44px;
}
.portfoilo_area .box a{
  color: #fff;
}
.portfoilo_area .box .img_area{
  position: relative;
  display: block;
}
.portfoilo_area .box .img_area::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.portfoilo_area .box:hover .img_area::before{
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.portfoilo_area .box p{
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #B3C1D4;
}
.portfoilo_area .box span{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.portfoilo_box_wrapper.v1{
  margin-top: 166px;
}
.custom_width [class*="col-"]{
  max-width: 45%;
}
/*======================
  faq area style
========================*/
.faq_area{
  padding: 100px 0 165px;
}
.faq_area_content .title{
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 35px;
}
.faq_area .card{
  background:none;
}
.faq_area .card button,
.public_speaking .card a{
  color: #fff;
  padding: 35px 0;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  position: relative;
}
.icon_box_wrapper{
  position: absolute;
  right: 0;
  top: 59%;
  transform: translateY(-50%);
}
.icon_wrapper{
  position: relative;
  width: 22px;
  height: 22px;
  transition: 0.3s;
  right: 0;
  display: inline-block;
}
.icon_wrapper::before,
.icon_wrapper::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height:2px;
  width: 100%; 
  background-color: #8794A7;
  border-radius: 10px;
  transform: rotate(0deg);
  transition: 0.3s;
}
.icon_wrapper::after{
  transform: rotate(-90deg);
}
.faq_area .card button[aria-expanded="true"] .icon_wrapper::before{
  transform: rotate(-180deg);
  transition: 0.3s;
}
.faq_area .card button[aria-expanded="true"] .icon_wrapper::after{
  transform: rotate(-180deg);
  transition: 0.3s;
}
.faq_area .card{
  border:none;
  border-bottom:1px solid #4B5563 !important;
  border-radius: 0;
}
.faq_area .card_1{
  border:none;
  border-top:1px solid #4B5563 !important;
}
.faq_area .card-body{
  padding: 13px 0 48px;
}
.faq_area .card .c1-box h2{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.faq_area .card .c1-box p,
.faq_area .card-body p{
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  color: #B3C1D4;
}
/*======================
  footer area style
========================*/
footer{
  padding: 100px 0 80px;
}
.footer_box h2{
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}
.footer_box a{
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
  display: inline-block;
}
footer .row_2{
  margin-top: 130px;
}
footer .row_2 .footer_box p{
  font-size: 20px;
  color: #8794A7;
  font-weight: 400;
  line-height: 33px;
}
.footer_box.last{
  display: flex;
  justify-content: flex-end;
}
.footer_menu{
  display: flex;
  flex-direction: column;
}
.footer_menu a{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  transition: 0.3s;
}
.footer_menu a:hover{
  color:#00C9FF;
  text-decoration: none;
  transition: 0.3s; 
}
/*======================
  about page style
========================*/

/*======================
  about hero-area style
========================*/
.hero_about_area{
  padding: 240px 0 146px;
}
.hero_about_area h2{
  margin-bottom: 20px;
}
.hero_about_area p{
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #B3C1D4;
  margin-top: 18px;
}
.hero_about_area .hero_img img{
  height: 392px;
  width: 392px;
  object-fit: cover;
  border-radius: 50%;
}

/*======================
  about testimonial-area style
========================*/
.testi_box_wrapper{
  position: relative;
}
.testi_box{
  background-color: #111827;
  padding: 48px 30px;
}
.testi_box h4,
.testi_box p{
  font-size:20px;
  line-height: 33px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 24px; 
}
.testi_box p{
  color: #8794A7;
  margin-bottom: 0; 
}
.testi_img{
  position: absolute;
  right:0;
  top: -50px;
  z-index: 2;
}
.testi_img img{
  height: 96px;
  width: 96px;
  border-radius: 50%;
  object-fit: cover;
}
.bottom .testi_img{
  right: 0px;
  bottom: -50px;
  top: auto;
}
.testi_box_wrapper.v4{
  margin-top: 110px;
}
.testi_box_wrapper{
  padding-right: 50px;
}
.testi_box_wrapper.v2{
  padding-right: 0;
  padding-left: 50px;
  margin-top: 110px;
}
.testi_box_wrapper.v2 .testi_img{
  left: 0px;
}
.testimonial_area [class*="col-"]{
  max-width: 45%;
}
/*======================
  about faq-area style
========================*/
.about_page .faq_area{
  padding-top: 200px;
}
.about_page .public_speaking a::after{
  position: absolute;
  content: "\f178";
  font-family: "Font Awesome 5 Pro";
  right: 0;
  top: 50%;
  transform: rotate(0deg) translateY(-50%);
  transition: 0.2s;
}
/*======================
  case page style
========================*/
.hero_case_area{
  padding: 220px 0 450px;
  background: linear-gradient(180deg, #09203F 0%, #285171 100%);
}
.hero_case_area h2{
  margin-bottom: 30px;
}
.hero_case_area p{
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
.first_img_area{
  margin-top: -307px;
}
.first_img_area2{
  margin-top: 100px;
}
.quot_area{
  padding: 40px 0;
  border-top:2px solid #374151;
  border-bottom:2px solid #374151;
}
.quot_area h2{
  font-size: 36px;
  line-height: 52px;
  font-weight: 400;
}
.quot_area p{
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
  color: #B3C1D4;
  margin-top: 30px;
}
.heading_area{
  padding:100px 0;
}
.video_box2 iframe{
  height: 570px;
}
.heading_area h2{
  font-size: 64px;
  font-weight: 400;
  line-height: 90px;
  margin-bottom: 40px;
}
.heading_area h3{
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 40px;
  font-weight: 400;
}
.heading_area h4{
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 40px;
  font-weight: 400;
}
.heading_area h5{
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 40px;
  font-weight: 400;
}
.heading_area h6{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  font-weight: 400;
}
.body_link{
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: underline;
  color: #fff;
  margin-bottom: 40px;
}
.body_header_area h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 15px;
}
.body_header_area p,
.dotted_text_area li,
.fixed_text_area p,
.fixed_text_area span{
  font-size: 19px;
  line-height: 33px;
  font-weight: 400;
  color: #B3C1D4;
}
.dotted_text_area{
  margin-top: 40px;
  margin-left: 30px;
}
.dotted_text_area li{
  font-size: 20px;
  list-style: disc;
  padding-left: 5px;
  margin-top: 10px;
}
.dotted_text_area li:first-child{
  margin-top: 0;
}
.fixed_text_area p span{
  position: absolute;
}
.fixed_text_area p{
  padding-left: 10px;
}
.fixed_text_area p,
.fixed_text_area span{
  font-size: 20px;
}
.fixed_text_area{
  margin-top: 40px;
}
.fixed_text_area>div{
  margin-top: 5px;
}
.parcent_area{
  display: flex;
  justify-content:space-between;
  padding-bottom: 125px;
}
.parcent_area .box h2,
.parcent_area .box p,
.parcent_area .box span{
  font-size: 64px;
  line-height: 90px;
  font-weight: 400;
  margin-bottom: 12px;
}
.parcent_area .box p{
  font-size:36px;
  line-height: 52px; 
}
.parcent_area .box span{
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 0;
  color: #B3C1D4;
}